<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sean Graham</string>
	<key>Builder Version</key>
	<string>12603.2.4</string>
	<key>CFBundleDisplayName</key>
	<string>UTM Stripper</string>
	<key>CFBundleIdentifier</key>
	<string>com.dosburros.safari-utm-stripper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.1</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>omnibar.html</string>
				<key>Identifier</key>
				<string>com.dosburros.safari-utm-stripper.bar</string>
				<key>Label</key>
				<string>UTM Stripper</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Description</key>
	<string>Strips Google Analytics (i.e. Urchin Traffic Monitor) tokens from URL query strings.</string>
	<key>DeveloperIdentifier</key>
	<string>J3Q79T636D</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.dosburros.com/updates/safari-utm-stripper.plist</string>
	<key>Website</key>
	<string>http:///github.com/grahams/safari-utm-stripper</string>
</dict>
</plist>
